* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

#game {
    width: auto;
    height: 661PX;
    border: 1px solid black;
    margin: auto;
    overflow: hidden;
    background-image: url(/images/mombasanight.png);
    background-size: contain;
    background-repeat: repeat-x;
}

#hornet {
    width: 80px;
    height: 40px;
    background-image: url(/images/hornet.png);
    position: absolute;
    top: 320px;
}

#banshee {
    width: 71px;
    height: 38px;
    background-image: url(/images/banshee.png);
    position: absolute;
    right: 100%;
    bottom: 500px;
    animation: phantom 3s infinite linear;
}

@keyframes banshee{
    0%{left:100%}
    100%{left:-71px}
}

#phantom {
    width: 250px;
    height: 120px;
    background-image: url(/images/phantom.png);
    position: absolute;
    right: 100%;
    bottom: 150px;
    animation: phantom 7s infinite linear;
}

@keyframes phantom{
    0%{left:100%}
    100%{left:-250px}
}